<!DOCTYPE html>
<html ng-app="store">
  <head>
    <meta charset="utf-8">
    <title> Angular Code School Course </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body ng-controller="StoreController as store">



    <ul class="list-group">
      <!-- Settings this directive allow us to acess the controller in this HTML -->
        <li ng-repeat="product in store.products">
          <h3>
            {{product.name}}
          </h3>
          <em class="pull-right"> {{product.price | currency}} </em>

          <!-- Image Gallery  -->
           <div class="gallery" ng-controller="GalleryController as gallery">
             <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.currentId].full}}" />
             <ul class="clearfix">
               <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                 <img ng-src="{{image.thumb}}" ng-click="gallery.setCurrentId(image.id)" />
               </li>
             </ul>
           </div>

           <!-- menu of each gem -->
           <section ng-controller="PanelController as panel">
             <ul class="nav nav-pills">
               <li ng-class="{ active: panel.isSelect(1) }">
                 <a href ng-click="panel.selectTab(1)">Description</a>
               </li>
               <li ng-class="{ active: panel.isSelect(2) }">
                 <a href ng-click="panel.selectTab(2)">Specifications</a>
               </li>

               <li ng-class="{ active: panel.isSelect(3) }">
                  <a href ng-click="panel.selectTab(3)">Reviews</a>
                </li>
             </ul>

             <div ng-show="panel.isSelect(1)" class="panel">
               <h4>Description</h4>
               <blockquote>{{product.description}}</blockquote>
             </div>
             <div ng-show="panel.isSelect(2)" class="panel">
               <h4>Specifications</h4>
               <blockquote> None Yet </blockquote>
             </div>
             <div ng-show="panel.isSelect(3)" class="panel">
               <h4>Reviews</h4>
               <blockquote ng-repeat="review in product.reviews">
                 <b> stars: {{review.stars}} </b>
                 {{review.body}}
                 <cite> {{review.author}} </cite>
               </blockquote>




               <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                        ng-submit="reviewCtrl.addReview(product)">


                 <h4>Submit a Review</h4>
                 <!--  Live Preview -->
                 <blockquote>
                   <strong>{{reviewCtrl.review.stars}} Stars</strong>
                   {{reviewCtrl.review.body}}
                   <cite class="clearfix">— {{reviewCtrl.review.author}}</cite>
                 </blockquote>

                <!--  Review Form -->
                 <fieldset class="form-group">
                   <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
                     <option value="">Rate the Product</option>
                   </select>
                 </fieldset>
                 <fieldset class="form-group">
                   <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review"></textarea>
                 </fieldset>
                 <fieldset class="form-group">
                   <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email"  />
                 </fieldset>
                 <fieldset class="form-group">
                   <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                 </fieldset>
               </form>


               <!-- <form name="reviewForm">
                 Preview<br />
                 <blockquote>
                   <b> stars: {{reviewCtrl.review.stars}} </b>
                   {{review.body}}
                   <cite> {{review.author}} </cite>
                 </blockquote>


                 <select ng-model="review.stars">
                    <option value=1> 1 star </option>
                    <option value=2> 2 stars </option>
                    <option value=3> 3 stars </option>
                    <option value=4> 4 stars </option>
                    <option value=5> 5 stars </option>
                 </select> <br />
                 <textarea ng-model="review.body"></textarea> <br />
                 <label> by </label>
                 <input type="text"  ng-model="review.author" /> <br />
                 <input type="submit" value="Submit" />
               </form> -->

             </div>
           </section>
        </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
